html {
    background-color: light-dark(var(--main-app-bg_light), var(--main-app-bg_dark));
    --glass-opacity: var(--glass-opacity_inactive);
}

html.theme-dark,
html.theme-ash,
html.theme-onyx {
    color-scheme: dark !important;
    --glass-brightness: var(--glass-brightness_dark);
}

html.theme-light {
    color-scheme: light !important;
    --glass-brightness: var(--glass-brightness_light);
}

html.app-focused {
    --glass-opacity: var(--glass-opacity_active);
}

* {
    --background-base-lowest: transparent !important;
}

/* Settings/sidebar backgrounds */
div[class^="sidebarRegion"],
div[class*="SidebarView"],
[data-layer="USER_SETTINGS"] {
    background: transparent !important;
}

/* App background */
div[class^="page_"]::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -10000;
    background: var(--background-base-low);
}

/* Server/channel sidebar */
div[class*="sidebarList"] {
    margin-top: calc(var(--custom-app-top-bar-height) * -1);
    border: none !important;
    backdrop-filter: none !important;
}

div[class*="sidebarList"] div[class^="searchBar"] {
    border-bottom: none !important;
}

/* Main sidebar */
div[class*="sidebar_"] {
    overflow: visible !important;
}

/* Resize handle */
div[class*="sidebarResizeHandle"] {
    transform: translateY(calc(var(--custom-app-top-bar-height) * -1)) !important;
    height: 100dvh !important;
}
